Downloaded*.txt
_backup/*
build/*
dist/*
old/*
config.ini
list.txt
*.log
*.bat
db.sqlite
*.pyc
*.zip
*.7z
image*.html
error*.html
*.source*/*
Images/*
testapp*/*
.idea/*
*.bak
*.pyo
pixivutil.log*
Error medium page for image *.html
config.ini.error-*
pixiv_util2/pixiv_util2_server.sqlite
.eggs/
PixivUtil2.egg-info/
UNKNOWN.egg-info/
.pytest_cache/
.tox/
