{% extends 'admin/base.html' %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="#" />
{% endblock %}
{% block body %}
<form class="form-inline" method="GET" action="/">
  <div class="form-group"> {{ form.user_input.label }} {{ form.user_input(size=70, class_="form-control") }} </div>
  <div class="form-group">
    {{ form.input_type.label}}
    <select class="form-control">
      {% for value, text in form.input_type.choices %}
        <option value="value">{{text}}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
